<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="./style.css">
    <title>Support</title>
</head>

<body>
    <div class="flex-col j-c-s-b">

        <main class="flex-row sm-col-flex">
            <div class="info flex-col a-i-c j-c-s-b sm-row-flex hide-sm" id="newPage">
                <i class="bi bi-house icons" id="accounts"></i>
                <i class="bi bi-wallet icons" id="cards"></i>
                <i class="bi bi-cash-coin icons" id="transfer"></i>
                <i class="bi bi-credit-card icons" id="create-c"></i>
                <i class="bi bi-headset icons i-active" id="support"></i>
            </div>

            <div class="flex-col w-f">
                <div class="support-background"></div>

                <h2 class="t-c m-t">Client Support</h2>

                <div class="w-f t-c" id="app" v-cloak>
                    <div class="flex-col j-c-c a-i-c w-f">
                        <p class="color-p t-deco-u-line m-t">Fill the form a we will contact you as soon as possible</p>
                        <form class="flex-col a-i-c j-c-c card-form">
                            <div class="flex-col j-c-s-a a-i-c w-f">
                                <div class="flex-col j-c-s-b a-i-c w-m">
                                    <label for="type" class="t-c color-p">Select Reason: </label>
                                    <select name="type" id="type" class="btn-main w-m" v-model="reason">
                                        <option value="" class="t-c" selected disabled>Select</option>
                                        <option value="web-problem">Problem in the web</option>
                                        <option value="fail-send">Fail send money</option>
                                    </select>
                                </div>
                                <div class="flex-col j-c-s-b w-m m-t">
                                    <label for="message" class="t-c color-p">Write details: </label>
                                    <textarea name="message" id="message" cols="30" rows="10" v-model="body"></textarea>
                                </div>
                            </div>
                            <input type="button" value="Send form" class="btn-main m-t" @click="sendForm">
                        </form>
                    </div>
                </div>
        </main>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="./support.js"></script>

</body>

</html>